# Ignore your specific virtual environment
cccenv/

# Other common virtual environment names
venv/
env/
ENV/
.venv/

# Bytecode files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
